@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 15px;
  }
  img {
    max-width: 100%;
    width: 100%;
  }
  p {
    line-height: 1.8;
    color: hsl(236, 13%, 42%);
  }
  
}


